body{
    overflow-x: hidden;
}

body header nav {
    background-color: #576f6f !important;

    padding: 20px 0 !important;

}

nav a, .navbar-toggler-icon{
    color: #f4fdff !important;
}

.background{
   background-image: url(./annie-spratt-gl7joOaABlI-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;

}

.custom-modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
    }
.custom-modal-dialog {
      position: relative;
      margin: auto;
      top: 10%;
      max-width: 600px;
      width: 80%;
    }

.custom-modal-content {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    
.custom-modal-header,
    .custom-modal-body,
    .custom-modal-footer {
      padding: 15px;
    }

.custom-modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e5e5e5;
}

.custom-modal-title {
      margin: 0;
      font-size: 1.5rem;
}

.custom-close {
      background: none;
      border: none;
      font-size: 1.5rem;
}

.quote{
   background-color: rgba(255, 255, 255, 0.192);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
  border-radius: 0 10px 10px 0 ;
}

.checkbox-wrapper label, input{
    margin-right: 5px;
}

.checkbox-wrapper{
  background-color: #576f6f !important;
  border-radius: 10px;
 
}

.main-index{
    background-color: #d3d3d3 !important;

}

.cards-container{

    width: 80%;
    margin: 0 auto;
}

.card-img-top{
    height: 250px;
}

.card-body{
    background-color: #576f6f  !important;
}

.card {
      display: block;     
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {

  transform: scale(1.1); 
}

.card.hide {
      display: none;
}

.labels, .btn-blue {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #f4fdff;
    margin: 5px;
}

    .height-100{
    min-height: 705px ;
}

.book-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.book {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s ease;
    cursor: pointer;
}

.book > img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 5px 5px 20px #666;
    position: absolute;
    backface-visibility: hidden;
}

.book::before {
    content: '';
    position: absolute;
    background: #fff;
    height: calc(100% - 6px);
    width: 50px;
    top: 3px;
    left: 0;
    transform-origin: left;
    transform: rotateY(-90deg);
    backface-visibility: hidden;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
}

.book::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #01060f;
    transform: translateZ(-50px);
    box-shadow: -10px 0 50px 10px #666;
    backface-visibility: hidden;
}

.book:hover {
    animation: bookOpen 1s forwards;
}

.labels:hover{
background-color: #44dee3;
}

input[type="checkbox"]:checked + .labels {
    background-color: #44dee3; 
}

.btn-blue:hover{
  background-color: #44dee3 !important;
}

.bg-blue{
    background-color: #44dee3; 
}

#quote{
    background-color: #968e85;
}


.notes {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;

}
.note {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    position: relative;
}
.note-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.height-100{
    min-height: 705px ;
}

@media only screen and (max-width: 768px) {
 
  .checkbox-wrapper{
    width: 70% !important;

  }

}





